configuration{
    modi: "drun";
    drun {
        display-name: " ";
    }
    timeout {
        delay: 5;
        action: "kb-cancel";
    }
    me-select-entry: "";
    icon-theme: "Papirus";
    show-icons: true;
    fixed-num-lines: false;
    font: "JetBrainsMono Nerd Font Bold 9";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "mocha"
