* {
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono Nerd Font Mono", "JetBrainsMono NF", monospace;
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: #11111b;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: #cba6f7;
    border-top: 2px solid #cba6f7;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button:hover {
    color: #cdd6f4;
    border-top: 2px solid #cdd6f4;
}

#workspaces button.focused {
    color: #f5e0dc;
    border-top: 2px solid #f5e0dc;
}

#workspaces button.active {
    color: #cdd6f4;
    border-top: 2px solid #cdd6f4;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#pulseaudio,
#clock,
#custom-clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: #cdd6f4;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: #f38ba8;
}

.modules-right > widget {
    background: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: #cdd6f4;
    padding-left: 4px;
    padding-right: 4px;
}
